﻿@model AKQA.Web.UI.Models.PersonViewModel;
@{
    ViewData["Title"] = "Home Page";
}
<div id="input">
    <form method="post" asp-controller="Home" asp-action="Index">
        <div class="text-center">
            <div class="row mb-4">
                <div class="col-md-2 col-sm-2">
                    Name :
                </div>
                <div class="col-md-4 col-sm-2">
                    <input asp-for="InfoDTO.Name" class="form-control" id="PersonName" type="text" placeholder="Enter Name Here" required />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-2 col-md-2">
                    Amount :
                </div>
                <div class="col-md-4 col-sm-2">
                    <input asp-for="InfoDTO.TransactionAmount" min="0" step="any" pattern="^(0|0?[1-9]\d*)\.\d\d$" class="form-control" id="PersonAmount" type="number" placeholder="Enter Amount Here" required />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <button type="submit" class="btn btn-success float-md-right">Submit</button>
                </div>
            </div>
            <hr />
        </div>
    </form>
</div>
<div id="output">
    @if (Model.StatusCode != 200 && Model.StatusCode != 0)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Error Code : <strong>@Model.StatusCode</strong> <br /> @Model.Message.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else if(Model.StatusCode == 200)
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <hr>
            <p>@Model.InfoModel.Name</p>
            <p class="mb-0">@Model.InfoModel.TransactionAmount</p>
        </div>
    }
</div>
